<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @task.owner_id %>
</p>

<p>
  <strong>List:</strong>
  <%= @task.list_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>Finished at:</strong>
  <%= @task.finished_at %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
