<div class="grid-cell grid-cell-sm-3">
  <div class="grid">
    <div class="grid-cell grid-cell-sm-12">
      <h2>React Render</h2>
    </div>
  </div>

  <div class="grid">
    <div class="grid-cell grid-cell-sm-12">
      <div id="lists"></div>
    </div>
  </div>
</div>

<div class="grid-cell grid-cell-sm-6">
  <div class="grid">
    <div class="grid-cell grid-cell-sm-12">
      <h2>Rails Render</h2>
    </div>
  </div>

  <div class="grid">
    <div class="grid-cell grid-cell-sm-12">
      <p id="notice"><%= notice %></p>

      <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Name</th>
            <th>Description</th>
            <th>Tasks count</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @lists.each do |list| %>
            <tr>
              <td><%= list.user.email %></td>
              <td><%= list.name %></td>
              <td><%= list.description %></td>
              <td><%= list.tasks_count %></td>
              <td><%= link_to 'Show', list %></td>
              <td><%= link_to 'Edit', edit_list_path(list) %></td>
              <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
